
//glowny kolor
$primary-color:#fff;
//Kolor pomocniczy : uzupelnienie glownego koloru
$secondary-color: #a1a1a1;
//Podstawowy rozmiar ciocnki
$font-size-base:16px;

//Podstawowy kolor ciocnki
$font-size-color: #ff5e5e;
//Pomocniczy kolor ciocnki
$font-size-finalColor: rgba(17, 17, 17, 0.67);

