.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo{
  flex: 1;
}
.search-engine{
  flex:2 ;
}

.nav{
  flex: 1;
  text-align: right;
}
@media  (max-width: 768px){
  flex-direction: column;
  align-items: flex-start;

  .search-engine{
    order : 1;
    width: 100%;
    margin-bottom: 10px;
  }
  .logo, .nav{
    width: 100%;
  }
  .nav{
    text-align: left;
  }
}